.OptionsToAuth{
    color:#D6F0ED;
    font-weight: 500;
    font-size: 1.6em;

    justify-content: center;
    align-content: center;
    text-align: center;
    
}

.OptionsToAuth:hover{
    color:#D6F0ED;
    font-weight: 500;
    font-size: 1.65em;
    text-decoration: underline #11DBB3;
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .OptionsToAuth:hover{font-size: 1.1em;}
}



