.dashboardPage{
    background-image: url("https://www3.assets.heroku.com/assets/home/hero/apps_2x-1cbc7cbe49e12ad3cfb038f1b21942c2c4773ed159e422c1c10e5d2257fbdd80.png");
    width:100vw;
    height: 100vh;
}