.dashboardPage{
    background-image:  url("https://www0.assets.heroku.com/assets/home/hero/startup_2x-7d19c0222639db59ac497178719016583e1c886ac83eff67670d2c7584513620.png");
    background-repeat: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100vw;
    height: 100vh;
}