.inputsSignIn{
    border-style: solid;
    border-color:transparent;
    color:#D6F0ED;      
    
}

.containerSignIn label{
    font-size: 1.6em;
    margin-top:1em;
    padding-left: 0px;
    padding-right: 0px;
}


.inputsSignIn{
   width:200px;
   background-color: transparent;
   
}

.inputsSignIn{
    border: 0px;
    border-bottom: 3px solid transparent;
    border-bottom-color:  #3a4ed5;

}

.rowButtonSignIn{
    padding: 2em;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
}

.ButtonSignIn{
    width: 120px;
    background: rgba(79, 248, 214, 0.71);
    border-radius: 20px;
    color:#D6F0ED;
    font-size: 1.3em;
}

.ButtonSignIn:hover{
    width: 130px;
    font-size: 1.3em;
    background-color: #D6F0ED;
    color:  rgba(28, 87, 75, 0.71);
    border-color:  rgba(28, 87, 75, 0.71);;
}


@media only screen and (max-width: 1399px)  {
    .inputsSignIn{
        width: 250px;
    }
    .containerSignIn label{
        font-size: 18px;
        
    }
   
}

@media only screen and (min-width: 1400px)  {
    .inputsSignIn{
        width: 250px;
    }
    
}