.Nav{
    color: #606aa5;
    text-align: center;
    font-family: Quicksand;
    text-align: center;
    border-bottom-style: solid;
    width: 100vw;
    padding: 0px;
    font-weight: bold;
}

.Nav{
    border-bottom: 6px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom right, #f1def1 0%,  #bd27a9 20%, #3a4ed5 100% );
    border-image-slice: 1;
}



.avatarpicture{
    width: 30%;
    height: 30%;
    position: flex;
    right: 10%;
    background-color: #FFFF;
    border-radius: 50%;
    backdrop-filter: blur(4px);
}


.ButtonSignout{
    margin-top: 20%;
    font-size: 15px;
    width: 90%;
    
}

.LettersLabNoteNav{
    font-size: 350%;
    margin-left: 25%;
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    
    .LettersLabNoteNav{
        font-size: 250%;
        
    }

}