.Nav{
    background-color: #2E3D51;
    color:#F4F4F4;
    text-align: center;
    font-family: Quicksand;
    text-align: center;
    padding-left: 18%;
    
}


.avatarpicture{
    width: 30%;
    height: 30%;
    position: flex;
    right: 10%;
    background-color: #FFFFFF;
    border-radius: 50%;
    backdrop-filter: blur(4px);
}


.ButtonSignout{
    margin-top: 20%;
    font-size: 15px;
    width: 90%;
}
.LettersLabNoteNav{
    font-size: 350%;
    
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .ButtonSignout {
        font-size: 12px;
        width: 80px;
        
    }
    .LettersLabNoteNav{
        font-size: 250%;
        
    }

}