.socialNetworks{
    font-size: 22px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.imgsSocialNetworks{
    width: 210px;
    max-width: 100px;
    
}

.imgsSocialNetworks:hover{
    width: 100px;

}

@media only screen and (min-width: 1400px)  {
    .socialNetworks{
        font-size: 2em;
    }
    .imgsSocialNetworks{
        text-align: end;
        align-content: left;
        justify-content: left;


    }
    .imgsSocialNetworks{    
        width: 120px;
    }
    .imgsSocialNetworks:hover{
        width: 90px;
    }
}