.OptionsToAuth{
    color:#D6F0ED;
    font-weight: 500;
    font-size: 1.6em;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}


.OptionsToAuth:hover{
    color:#D6F0ED;
    font-weight: 500;
    font-size: 1.65em;
    text-decoration: underline #3a4ed5;
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 1000px) and (min-width: 768px)  {
    .OptionsToAuth:hover{font-size: 1.1em;}
    .OptionsToAuth{
        margin-top: 10%;
    }
}



@media only screen and (min-width: 1400px)  {
    .OptionsToAuth{
        margin-top: 20px;
        font-size: 2.5em;
        
    }

    .OptionsToAuth:hover{
        color:#D6F0ED;
        font-weight: 500;
        font-size: 2.3em;
        text-decoration: underline #3a4ed5;
        font-family: 'Quicksand', sans-serif;
    }
    
}


