.cards{
    gap: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.card{
   border-color: transparent;
   padding: 0px;

   
}

.Titlenota{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-family: Quicksand; 
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    
}

.Bodynota{
    height: 100px;
    width: 100%;
    text-align: center;
    font-family: Quicksand;
    background-color: transparent;
    color: rgb(17, 14, 14);
    padding: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #8566aa;
    border-width: 3px;
   
}

.top-bar{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #8566aa;
}

.Titlenota{
    color: white;
}

@media only screen and (min-width: 1200px)  {
    .cards{
        
        grid-template-columns: repeat(4, 1fr);   
    }
}


@media only screen and (min-width: 1200px)  {
    
}